@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700;900&amily=Oswald:wght@300;400;500;700&display=swap');


/* ------------- variable -----------------------*/
:root{
    --main-color:#0b0c2a;
    --primary-color:#070720;
    --red-color:#e53637;
    --grey-color:#3d3d3d;
    --white-color:#ffffff;
    --tint-color:#b7b7b7;
}
/*-------------- variable ----------------------*/
/*-------------- global rules ----------------------*/

*,body,::after,::before{
    padding:0;
    margin:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
body{
    background-color:var(--main-color);
    font-family: 'Mulish', sans-serif;
    color: var(--white-color);
    position: relative;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}

ul{
    list-style:none;
    
}
a{
    text-decoration:none;
    color:var(--white-color);
    display: inline-block;
    
}
button{
    background-color:var(--red-color);
    
}

/*-------------- global rules ----------------------*/

/*-------------- my framework ----------------------*/
.container{
    width: 85%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.flex-colum{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.grid{
    display: grid;
}
.btn{

}
[type="checkbox"],[type="radio"]
{
    display:none;
}
/*-------------- my framework ----------------------*/
/* ------------ Home page -------------------------- */
.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#111111;
    z-index: 999999;
    animation:pro-loader 2s linear;
    -webkit-animation:pro-loader 2s linear;
    z-index: 999999999999;
    visibility: hidden;
}
@keyframes pro-loader{
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
.preloader .loader{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 2s linear infinite ;
    -webkit-animation: loader 2s linear infinite ;
}
@keyframes loader{
    0%{
        transform: rotate(0deg);
        border: 4px solid var(--red-color);
        border-left-color: transparent;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        border: 4px solid var(--main-color);
        border-left-color: transparent;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
}

    100%{
        transform: rotate(360deg);
        border: 4px solid var(--red-color);
        border-left-color: transparent;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}


}


/* ------------ nav bar------------------------------- */
nav{
   position: relative;
    background-color:var(--primary-color);
}

nav #inp,nav label{
    display:none;
}
nav .container .row{
    justify-content: space-between;
}

nav .container .row .logo,nav .container .row .icon{
    width:8%;
}
nav .container .row .logo>img{
    width: 100%;
}
nav .container .row .menu-list{
    width:50%;
    display: flex;
    justify-content: center;
    gap: 35px;
}
nav .container .row .menu-list>li{
    padding:4% 0;
    position: relative;
}
nav .container .row .menu-list>li>a{
    font-weight: 700;
    color:var(--tint-color);
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
nav .container .row .menu-list>li:hover a{
    color:var(--white-color);
}
nav .container .row .menu-list>li:nth-child(1)>a{
    color:var(--white-color);
}
nav .container .row .menu-list>li:nth-child(1){
    
    background-color:var(--red-color);
    text-align: center;
    width: 20%;
}
nav .container .row .menu-list>li:nth-child(2)>i
    {
        color: var(--white-color);
    }
nav .container .row .menu-list>li:nth-child(2)>i:first-of-type{
    display: none;
}
nav .container .row .menu-list>li:nth-child(2)>.dropdown{
    position: absolute;
    left: 0;
    top: 82px;
    width: 150px;
    background: #ffffff;
    text-align: left;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transition: all, 0.3s ease;
    -webkit-transition: all, 0.3s ease;
    -moz-transition: all, 0.3s ease;
    -ms-transition: all, 0.3s ease;
    -o-transition: all, 0.3s ease;
}
nav .container .row .menu-list>li:nth-child(2):hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 62px;
    }
nav .container .row .menu-list>li:nth-child(2)>.dropdown>li>a{
    font-size: 14px;
    color: #111111;
    font-weight: 500;
    padding: 5px 20px;
}
nav .container .row .menu-list>li:nth-child(2)>.dropdown>li:last-of-type>a
{
    padding:0px 20px;
}
nav .container .row .icon>.row{
    justify-content: flex-end;
    gap: 25%;
}
nav .container .row .icon>.row>a {
    font-size: 18px;
    
}
nav .container .row .icon>.row>a .search-on
{
    cursor: pointer;
    display:unset
}
/* ------------ nav bar------------------------------- */
/* ------------ hero-section------------------------------- */
.hero-section{
    padding: 5% 0;
    overflow: hidden;
} 
.hero-section .container .slider .slide{

    background-image: url("../img/hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem 3rem;

    position: relative;
}
.hero-section .container .slider .slide-content{
    height: 100%;
    
    align-items: flex-end;
}
.hero-section .container .slider .row .label{
    font-size:13px;
    padding: 0.5%;
    background-color:var(--white-color);
    color:var(--red-color);
    width: 6rem;
    text-align: center;
    margin-bottom: 1rem;

}
.hero-section .container .slider .row .content{
    margin: 1rem 0;
}
.hero-section .container .slider .row .content>h1{

    font-size: 42px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.hero-section .container .slider .row>a{
    width: 50%;
    cursor: pointer;
}
.hero-section .container .slider .row>a>span{
    background-color: var(--red-color);
    padding: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 0.8rem;
    
}
.hero-section .container .slider .row>a>i{
    background-color: var(--red-color);
    padding: 1rem;
    margin-left: 3%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1rem;
}
.hero-section .container .slider  .cursor-btns{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .shape {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    transform: translate(0,-50%);
}
.cursor-btns .shape::after {
    content: '';
    display: block;
    position: absolute;
    
   
}
.cursor-btns .btn-right::after
{
    border-top: 30px solid transparent;
    border-left: 30px solid  transparent;
    border-right: 30px solid  var(--main-color);
    border-bottom: 30px solid transparent;
    top:0;
    right:0;
}
.cursor-btns .btn-left::after
{
    border-top: 30px solid transparent;
    border-left: 30px solid  var(--main-color);
    border-right: 30px solid transparent ;
    border-bottom: 30px solid transparent;
    top:0;
    left:0;
}
.arrow{
    z-index: 2;
}
/* ------------ hero-section------------------------------- */
/* ------------ product------------------------------- */
.product{
    padding:2rem 0;
}
.product .container .grid{  
    gap: 5%;
    display: flex;
    flex-wrap: wrap;
}


.product .container .grid .left-side .row{
    flex-wrap: wrap;
}
.product .container .grid .left-side{
    width:60%;
}
.product .container .grid .right-side{
    width:30%;
}
.product .container .grid .left-side .row .grid{
    
    gap: 5%;
}
.product .container .grid .left-side .row{
    
}
.product .container .grid .left-side .row .grid{
    width: 100%;
    margin-bottom: 1rem;
}
.product .container .grid .left-side .row .grid .title {
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 2rem;
}
.product .container .grid .left-side .row .grid .title>h3{
    font-weight: 600;
    line-height: 21px;
    padding-left: 20px;
    position: relative;
}
.product .container .grid .left-side .row .grid .title>h3::after{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    padding: 25px 2px;
    background-color: var(--red-color);
}

.product .container .grid .left-side .row .grid .title>a{
    letter-spacing: 2px;
    font-weight: 700;
}
.product .container .grid .left-side .row .grid .title .view-more>a{
    letter-spacing: 2px;
    font-weight: 700;
}
.product .container .grid .left-side .row .grid .title .view-more>a>span{
   margin-left: 10px;
}
.product .container .grid .left-side .row .grid{
    justify-content: space-around;
}
.product .container .grid .left-side .row .grid .item{
    width: 45%;
    margin-bottom: 2rem;
}
.product .container .grid .left-side .row .grid .item .img{
    width: 100%;
    position: relative;
    font-size: 12px;
}
.product .container .grid .left-side .row .grid .item .img >img{
    width: 100%;
    object-fit: cover;
    border-radius:2%;
    -webkit-border-radius:2%;
    -moz-border-radius:2%;
    -ms-border-radius:2%;
    -o-border-radius:2%;
    box-shadow: 0px 0px 3px 2px rgb(131 134 255 / 30%);
}
.product .container .grid .left-side .row .grid .item .img .ep{
    position: absolute;
    top: 3%;
    left: 2%;
    padding: 2px 12px;
    background-color: var(--red-color);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.product .container .grid .left-side .row .grid .item .img .comment{
    position: absolute;
    bottom: 3%;
    left: 2%;
    padding: 2px 12px;
    background-color: var(--grey-color);
    border-radius:4px;
}
.product .container .grid .left-side .row .grid .item .img .view{
    position: absolute;
    bottom: 3%;
    right: 2%;
    padding: 2px 12px;
    background-color: var(--grey-color);
    border-radius:4px;
}
.product .container .grid .left-side .row .grid .item .product__item__text{
    padding-top: 5%;

}
.product .container .grid .left-side .row .grid .item .product__item__text .row{
    gap:5%;
    padding-bottom: 5%;
}
.product .container .grid .left-side .row .grid .item .product__item__text .row>li{
   
    width: 25%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    text-align: center;
}
.product .container .grid .left-side .row .grid .item .product__item__text>h5>a{
    color: #ffffff;
    font-weight: 700;
    line-height: 26px;
    font-size: 18px;
}
.product .container .grid .right-side>.grid{

    
   
}
.product .container .grid .right-side  .grid   input{
    display: none;
}
.product .container .grid .right-side  .grid .grid{
   
    width: 100%;
    margin-bottom: 1rem;
    transition:gap 0.2s  ease-in-out;
    -webkit-transition:gap 0.2s  ease-in-out;
    -moz-transition:gap 0.2s  ease-in-out;
    -ms-transition:gap 0.2s  ease-in-out;
    -o-transition:gap 0.2s  ease-in-out;
}
.product .container .grid .right-side  .grid .grid .filter{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 2rem;
}
.product .container .grid .right-side  .grid .grid .title{
    
}
.product .container .grid .right-side .grid .grid .filter-btns{
    flex: 1;
    justify-content: space-evenly;
}

.product .container .grid .right-side .grid .grid .item{
    width: 100%;
    margin-bottom: 2rem;
}
.product .container .grid .right-side .grid .grid .title>h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    padding-left: 20px;
    position: relative;
}
.product .container .grid .right-side .grid .grid .title>h3::after{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    padding: 25px 2px;
    background-color: var(--red-color);
}
.product .container .grid .right-side .grid .grid .item .img{
    width: 100%;
    position: relative;
}
.product .container .grid .right-side .grid .grid .item .img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    /* box-shadow: 0px 0px 3px 2px rgb(131 134 255 / 30%); */
} 
.product .container .grid .right-side .grid .grid .item .img .ep,
.product .container .grid .right-side .grid .grid .item .img .view,
.product .container .grid .right-side .grid .grid .item .img .text
{
    position: absolute;
    padding: 2px 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.product .container .grid .right-side .grid .grid .item .img .ep{
    top:3%;
    left:2%;
    background-color: var(--red-color);
    
}
.product .container .grid .right-side .grid .grid .item .img .view{
    top:3%;
    right:2%;
    background-color: var(--grey-color);
}
.product .container .grid .right-side  .grid .grid .item .img .text{
    bottom:10%;
    font-weight: 700;
    line-height: 26px;
}
.product .container .grid .right-side  .grid .new-comment .title{
   width: 100%;
   margin-bottom: 2rem;
}
.product .container .grid .right-side .grid .grid .title>h3{
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    padding-left: 15px;
    position: relative;
    font-family: "Oswald", sans-serif;
}
.product .container .grid .right-side .grid .grid .title>h3::after
{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    padding: 25px 2px;
    background-color: var(--red-color);
}
.product .container .grid .right-side  .grid .new-comment .item {
    gap:4%;
    
}
.product .container .grid .right-side .filter-option label{
    cursor: pointer;
}
.product .container .grid .right-side    #week:checked~.grid .month,
.product .container .grid .right-side   #week:checked~.grid .years
{
    display:none;  
    
}
.product .container .grid .right-side  #week:checked~.top-view
{
   
}
.product .container .grid .right-side  #week:checked~.grid .week{
  
    display:block;
}
.product .container .grid .right-side    #month:checked~.grid .week,
.product .container .grid .right-side   #month:checked~.grid .years
{
   
    display:none;
     
}

.product .container .grid .right-side    #month:checked~.grid .month{
  
    display:block;
}
.product .container .grid .right-side    #month:checked~.top-view,
.product .container .grid .right-side   #years:checked~.top-view
{
 
}
.product .container .grid .right-side    #years:checked~.grid .week,
.product .container .grid .right-side    #years:checked~.grid .month
{
 
    display:none;
     
}
.product .container .grid .right-side   #years:checked~.grid .years{
    
    display:block;
}

.product .container .grid .right-side  .grid .new-comment .item .img{
    width: 30%;
}
.product .container .grid .right-side  .grid .new-comment .item .content{
    width: 60%;
}
.product .container .grid .right-side  .grid .new-comment .item .content ul{
    padding: 10% 0 5% 0;
}
.product .container .grid .right-side  .grid .new-comment .item .content ul>li{
    font-size: 10px;
    width: 25%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    text-align: center;
}
.product .container .grid .right-side  .grid .new-comment .item .content h5{
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 5%;
}
.product .container .grid .right-side  .grid .new-comment .item .content span{
    font-size: 13px;
    color:var(--tint-color);
}
/* ------------ product------------------------------- */

/* ------------ footer------------------------------- */
footer{
    background-color: var(--primary-color);
    padding: 5% 0;
    position: relative;
}
footer .container .row {
    justify-content: space-between;
}
footer>.page-up{
    position: absolute;
    top:-10%;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    color: var(--white-color);
    background-color: var(--red-color);
    cursor: pointer;

}
footer .container .row>.logo{
    width: 20%;
}
footer .container .row>.logo img {
    width: 40%;
}
footer .container .row>.list{
    width: 40%;
    justify-content: space-between;
    
}
footer .container .row>.list li{
   font-weight: 700;
}
footer .container .row>.list li a{
    color: var(--tint-color);
}
footer .container .row>.content{
    width: 25%;
    color: var(--grey-color)
}
footer .container .row>.content a{
    color: var(--red-color);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
footer .container .row>.content:hover a{
    color: var(--white-color)
}
.searchform #search-on:checked ~  .search-model{
    display: unset;
    opacity: 1;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

.search-model{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    z-index:10000;
    display: none;
    opacity: 0;
}
.search-model .container{
    height: 100%;
    
}
.search-model .container .row{
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 20%;
    padding-top: 10%;
    
}
.search-model .container .row  .search-off{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: var(--grey-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
}
.search-model .container .row .form{
    width: 100%;
}
.search-model .container .row .form input{
    width: 80%;
    font-size: 40px;
    border: none;
    border-bottom: 2px solid var(--grey-color);;
    background: 0 0;
    color:var(--tint-color);
    outline:0;
}


/* ------------ footer------------------------------- */


/* ------------ product------------------------------- */
/* ------------ Home page -------------------------- */
/* ------------ Media Query -------------------------- */
@media (max-width: 1119px) {
    /* ------------ hero-section----------------------*/
    
    

}

@media (max-width: 991px)
{
    .container{
        width: 85%;
        
    }
    /* ------------ nav bar------------------------------- */
    /* ------------ Home page -------------------------- */ 
    nav{
        padding: 2% 0;
    }

    nav label{
        display: unset;
    }
    nav #inp:checked~.menu-list
    {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
    nav .container .row .menu-list{   
    width: 85%;
    display: unset;
    margin: 0 auto;
    position: absolute;
    top: 120%;
    background-color: var(--white-color);
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    font-size:25px;
    z-index: 999;
    
    }
    nav .container .row .menu-list>li {
        padding: 1%;
    }   
    nav .container .row .menu-list>li:nth-child(1)
    {
        text-align: unset;
        background-color: unset;
    }
    nav .container .row .menu-list>li:hover a{
        color:var(--grey-color);
    }
    nav .container .row .menu-list>li:nth-child(1)>a{
    color:var(--grey-color);
    }
    nav .container .row .menu-list>li:nth-child(2)>i
    {
        color: var(--grey-color);
    }
    
    nav .container .row .menu-list>li:nth-child(2)>i:first-of-type{
        display: inline;
        transition: all .4s ease-in;
    }
    nav .container .row .menu-list>li:nth-child(2):hover>i:first-of-type
    {
        display: none;
    }
    nav .container .row .menu-list>li:nth-child(2)>i:last-of-type{
        display: none;
        transition: all .4s ease-in;
    }
    nav .container .row .menu-list>li:nth-child(2):hover>i:last-of-type{
        display: inline;
    }
    nav .container .row .menu-list>li:nth-child(2)>.dropdown{
        display: none;
        position:unset;
        width: 150px;
        background: #ffffff;
        text-align: left;
        padding: 5px 0;
        opacity: 0;
        visibility: hidden;
        transition: all, 0.3s ease;
        -webkit-transition: all, 0.3s ease;
        -moz-transition: all, 0.3s ease;
        -ms-transition: all, 0.3s ease;
        -o-transition: all, 0.3s ease;
    }
  
    nav .container .row .menu-list>li:nth-child(2):hover>.dropdown{
        display: block;
    }
    nav .container .row .menu-list>li>a{
        color: var(--grey-color);
    }

    nav .container .row .logo, nav .container .row .icon
    {
        width: 12%;
    }
    nav .container .row .icon>.row>a {
        font-size: 20px;
    }
    label {
        display: unset;
    }
    /* ------------ nav bar-------------------------------*/
    /* ------------ hero-section-------------------------------*/
    .hero-section
    {
        padding:3% 0;
    }
 
    .hero-section .container .slider .row .label
    {
        padding: 1%;
        font-size: 18px;
    }
    .hero-section .container .slider .row.content>h1 
    {
        width: 90%;
    }
    .hero-section .container .slider .row>a
    {
        font-size: 20px;
        width: 50%;

    }
    .hero-section .container .slider .row>a>span
    {
        padding: 6% 4%;
    }
    .hero-section .container .slider .row>a>i{
        padding: 6.5% 3%;
        margin-left: 1.5%;
    }
    /* ------------ hero-section-------------------------------*/
    /* ------------- product-----------------------------------*/
     
    
     .product .container .grid .left-side{
        width: 100%;
     }
     .product .container .grid .left-side .row .grid{
      justify-content:flex-start;
      gap: 1rem ;
     }
  
     .product .container .grid .left-side .row .grid .title>h3{
         font-size: 24px;
         font-weight: bold;
         font-family: "Oswald", sans-serif;
     }
     .product .container .grid .left-side .row .grid .item
     {
        width: 23%;
     }
    .product .container .grid .left-side .row .grid .item .product__item__text .row{
        gap: 2%;
    }
    .product .container .grid .left-side .row .grid .item .product__item__text .row>li{
        width: 20%;
        font-size: 10px;
        padding: .5% 0%;
    }
    .product .container .grid .right-side{
        width: 100%;
    }
  
    .product .container .grid .right-side .grid .top-view{
        justify-content: space-between;
    }
    
    .product .container .grid .right-side .grid .top-view .filter .filter-btns {
        width: 50%;
        flex: unset;
    }
    .product .container .grid .right-side .grid .top-view .item{
       width: 46%;

    }
   
    .product .container .grid .right-side .grid .grid .item{
      
        width: 45%;
    }

    .product .container .grid .right-side .grid .new-comment .item .content h5{
        padding-bottom: 5%;
    }

     /* ------------ product-------------------------------*/
     /* ------------ footer--------------------------------*/
     footer>.page-up{
        left: 47%;
     }
     footer .container{
        padding-top: 2%;
     }
     footer .container .row{
        flex-direction: column;
        gap: 30px;
     }
     footer .container .row>.logo {
        width: 20%;
        text-align: center;
    }
    footer .container .row>.logo img {
        width: 100%;
    }
    footer .container .row>.list {
        width: 80%;
        flex-direction: row;
    }
    footer .container .row>.content {
        width: 100%;
        text-align: center;
    }
    /* ------------ footer-------------------------------*/
    /* ------------ Home page -------------------------- */
}

@media (max-width:769px) {
    /* ------------ hero-section----------------------*/
    .hero-section .container .slider .slide{
        padding: 6rem 2rem;
    }

   
   /* ------------ hero-section----------------------*/
   .product .container .grid .left-side .row .grid{
    justify-content:space-between
   }
   .product .container .grid .left-side .row .grid .item{
    width: 45%;
   }
}

@media (max-width:575px){
    .container{
        width: 90%;
    }
    /* ------------ nav-------------------------------*/
    nav{
        padding: 5% 0;
    }
    nav .container .row .menu-list{
        font-size: 20px;
    }
    nav .container .row .logo, nav .container .row .icon{
        width: 20%;
    }
    /* ------------ nav-------------------------------*/
    /* ------------ hero-section----------------------*/

   
    /* .hero-section .container .slider .shape, .hero-section .container .slider .btn-left,
    .hero-section .container .slider .btn-right,.hero-section .container .slider .left,.hero-section .container .slider .right{
        display: none;
    } */
    .hero-section .container .slider .flex-colum .content>h1{
        font-size: 35px;
        line-height:1.1
    }
    .hero-section .container .slider .flex-colum>a{
        width: 60%;
    }
    .hero-section .container .slider .flex-colum>a>i{
        padding: 7.5% 3%;
        margin-left: 2.5%;
    }
    /* ------------ hero-section----------------------*/
    /* ------------ product --------------------------*/
    .product{
        padding: 2rem 0;
    }
    
    .product .container .grid .left-side .row .grid:nth-child(3) .title{
        align-items:baseline;
        
    }
    .product .container .grid .left-side .row .grid .title>h3{
        width: 60%;
        font-size: 16px;
    }
   
    .product .container .grid .left-side .row .grid .title .view-more{
        font-size: 14px;
    }
    .product .container .grid .left-side .row .grid .title .view-more>a>span{
        margin-left: 5px;
    }
    .product .container .grid .left-side .row .grid .item{
       width: 100%;
    }
    .product .container .grid .left-side .row .grid .item .product__item__text .row>li{
        padding: 0.5rem;
    }
    
    .product .container .grid .right-side .grid .grid .title>h3
    {
        font-size:13px;
    }
  
    .product .container .grid .right-side .grid .new-comment .item{
        width: 100%;
    }
    .product .container .grid .right-side .grid .new-comment .item .img{
        width:30%;
    }
    .product .container .grid .right-side .grid .new-comment .item .content ul{
        padding: 0% 0 5% 0;
    }
     /* ------------ product --------------------------*/
     /* ------------ footer --------------------------*/
    footer>.page-up{
        left: 43%;
    }

    footer .container{
    padding-top: 15%;
    }
    footer .container .row>.list{
        width: 100%;
        justify-content: center;
        gap:5%;
    }
    footer .container .row>.list li{
        font-size:13px;
    }
    footer .container .row>.content{
        text-align: unset;
    }
    /* ------------ footer --------------------------*/
    /* ------------ search-model --------------------*/
    .search-model .container .row .form input
    {
    	width:90%;
    }
    /* ------------ search-model --------------------*/
}
